PORT=3000
JWT_SECRET=thay-bang-chuoi-bi-mat-dai
MONGODB_URI=mongodb://bumtumu_db_user:MAT_KHAU@cluster0-shard-00-00.gyxrdsn.mongodb.net:27017,cluster0-shard-00-01.gyxrdsn.mongodb.net:27017,cluster0-shard-00-02.gyxrdsn.mongodb.net:27017/dangtin_diendan?ssl=true&replicaSet=THAY_REPLICA_SET&authSource=admin&retryWrites=true&w=majority
MONGODB_REPLICA_SET=
